<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="">
      <a class="navbar-brand" href="javascript: void(0)" id="heading">Profile View</a>
    </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)"><img src="assets/images/professional.jpg" class="lgimg"> User <span class="fa fa-caret-down" aria-hidden="true" ></span></a>
        <ul class="dropdown-menu">
          <!--<li id="clist"><a href="javascript: void(0)">View Profile</a></li>
          <li id="clist"><a href="javascript: void(0)">Edit Info</a></li>
        </ul>
          <a href="javascript: void(0)" class="dropdown"><i class="fa fa-user-secret dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu" >-->
          <li id="clist"><a routerLink="/viewprofile">View Profile</a></li>
          <li id="clist"><a routerLink="/editprofile">Edit Info</a></li>
      </ul>
      </li>
    </ul>
    </div>
  </div>
</nav>
